<div class="backround-all-dashboard">
  <h3>STATISTICS OF THE COUNTRIES OF THE WORLD</h3>
<div class="container">
    <div class="item">
        <h1>Country population vs ratio</h1>
        <canvas class="canvas" id="myChart1"></canvas>
    </div>
    <div class="item">
        <h1>Number of countries by region</h1>
        <canvas id="myChart2"></canvas>
    </div>
    <div class="item">
        <h1>Number of countries by language</h1>
        <canvas id="myChart3"></canvas>
    </div>
</div>
</div>


